<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="3.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="HorizontalListView1.1" version="1.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>